<%= form_with model: book, local: true do |f| %>
  <!--タグ追記ここから-->
  <div class="check_box">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
     　 <%= tag.label do %>
      　  <%= tag.check_box %>
      　  <%= tag.text %>
      　<% end %>
      </div>
    <% end %>
  </div>
  <!--タグ追記ここまで-->
  <div class="form-group">
    <h4>Title</h4>
      <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4>Opinion</h4>
    <div class="text-body">
      <%= f.text_area :body, class: "form-control" %>
    </div>
  </div>
  <div class="field" id="star">
    <%= f.label :evaluation, "星評価：" %>
    <%= f.hidden_field :evaluation, id: :review_star %>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'book[evaluation]', // evaluationカラムへの保存
        half: true, // 星半分の入力
      });
    </script>
  </div>
  <div>
    <%= f.submit class: "submit btn btn-success" %>
  </div>
<% end %>