<div class="container px-5 px-sm-0">

<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row">
    <%= render partial: 'show#sidebar/sidebar', locals: { books: @books, user: @user }  %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
            <tr>
              <td class="list-box list-body">
                <% if @user.profile_image.attached? %>
                  <%= image_tag @user.get_profile_image(100,100) %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
                <div><%= link_to @user.name,user_path(@user) %></div>
              </td>
              <td class="list-box"><%= @book.title %></td>
              <td class="list-box list-body"><%= @book.body %></td>
              <!--投稿者だけ編集、削除可能に-->
              <% if current_user == @user %>
                  <td><%= link_to "Edit",edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", destroy_book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>