<!--改行するためのメソッドを定義-->
<% str = "\n" %>
<% def html_safe_newline(str) h(str).gsub(/\n|\r|\r\n/, "<br>").html_safe end %>
<!--ここまで-->


<div class="container px-5 px-sm-0">

<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render partial: 'users/info', locals: { user: @user } %>
      <div>
        <%= render partial: 'users/relationship', locals: { user: @user } %> 
      </div>
      <h2 class="mt-3">New book</h2>
      <%= render partial: 'form', locals: { book: @new_book } %>  
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table tbl-r02">
        <tbody>
            <tr>
              <td class="list-box list-body">
                <% if @user.profile_image.attached? %>
                  <%= image_tag @user.get_profile_image(100,100) %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
                <div><%= link_to @user.name,user_path(@user) %></div>
              </td>
              <td class="list-box">
                <%= @book.title %>
              </td>
              <td class="list-box list-body">
                <%= @book.body %>
              </td>
              <td id="favorite_buttons_<%= @book.id %>">
                <% if current_user == @user %>
                  <div>
                    <%= link_to "Edit",edit_book_path(@book), class: "btn btn-sm btn-success" %>
                    <%= link_to "Destroy", destroy_book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
                  </div>
                <% end %>
                <%= render "favorites/favorite", book: @book %>
              </td>
            </tr>
        </tbody>
      </table>
      <!--コメント一覧-->
      <div id="comments_area">
        <%= render "book_comments/book_comments", book: @book %>
      </div>
      <!--コメントフォーム-->
      <div id="comments_form">
        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
      </div>
        
    </div>
  </div>
</div>
</div>
</div>